[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/antigen"]
	path = submodules/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "submodules/nvim-tree.lua"]
	path = submodules/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "submodules/vim-gnupg"]
	path = submodules/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "submodules/ohmyzsh"]
	path = submodules/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "submodules/zsh-history-substring-search"]
	path = submodules/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "submodules/tabular"]
	path = submodules/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "submodules/vim-markdown"]
	path = submodules/vim-markdown
	url = https://github.com/preservim/vim-markdown.git
[submodule "submodules/vim-moonfly-colors"]
	path = submodules/vim-moonfly-colors
	url = https://github.com/bluz71/vim-moonfly-colors.git
[submodule "submodules/vim-tmux-navigator"]
	path = submodules/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "submodules/lualine.nvim"]
	path = submodules/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "submodules/plenary.nvim"]
	path = submodules/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "submodules/telescope.nvim"]
	path = submodules/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "submodules/telescope-fzf-native.nvim"]
	path = submodules/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim.git
[submodule "submodules/gitsigns.nvim"]
	path = submodules/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
