[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "submodules/antigen"]
	path = submodules/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "submodules/nvim-tree.lua"]
	path = submodules/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule "submodules/vim-gnupg"]
	path = submodules/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "submodules/ohmyzsh"]
	path = submodules/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "submodules/zsh-history-substring-search"]
	path = submodules/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "submodules/tabular"]
	path = submodules/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "submodules/vim-markdown"]
	path = submodules/vim-markdown
	url = https://github.com/preservim/vim-markdown.git
